
  <h2>About me</h2>
  <hr />

  <p>
    I'm a both Fullstack JS and Backend Java developer looking for an
    opportunity to expand my knowledge in this field. Meanwhile, I'm working as
    a Senior Developer at QuickSign company. I gained a lot of skills through
    the current mission.
  </p>

  <p>
    I worked with many small, medium to big companies from debugging and
    developing Information Systems, to upgrading on existing solutions.
  </p>

  <p>
    I learned that communication is the most importing skill that you need to
    get project and excel in that. I worked with all kind of user, from non tech
    people to IT departments.
  </p>

  <p>
    Some of the companies that I can mention are: Bnp Paribas, CGI, Carrefour,
    Banque Populaire, Malakoff Umanis , QuickSign and many more.
  </p>

  <p>
    I like everything about technology and I'm looking forward to gain more
    knowledge in the field of Web and Front Development. I love languages and
    diversity. I find myself more comfortable in a multicultural environment.
  </p>



